<div class="sidebar">
    <div class="logo" style="padding: 15px 10px 25px;">
        <img src="img/logo.svg" alt="Hatun" style="width: 80%; max-width: none;">
    </div>
    
    <div class="user-avatar">
        <div class="avatar-circle fill">
            <span></span>
        </div>
        <p class="username"></p>
    </div>
    
    <nav class="sidebar-nav">
        <a href="profile.html" class="nav-item" id="nav-dashboard">
            <i class="fas fa-th-large"></i>
            <span>Panel de control</span>
        </a>
        <a href="tests.html" class="nav-item" id="nav-tests">
            <i class="fas fa-clipboard-list"></i>
            <span>Pruebas</span>
        </a>
        <a href="#" class="nav-item" id="logout-button">
            <i class="fas fa-sign-out-alt"></i>
            <span>Cerrar sesión</span>
        </a>
    </nav>
</div>
